<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Karpach.Remote.Commands.Base" version="1.0.10" targetFramework="net461" />
  <package id="Karpach.Remote.Commands.Interfaces" version="1.0.5" targetFramework="net461" />
  <package id="NetBox" version="1.4.22" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NLog" version="4.4.12" targetFramework="net46" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net46" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net46" />
  <package id="sharpconfig" version="3.2.0" targetFramework="net46" />
</packages>